.App {
  text-align: center;
}

.itemWrapper {
  padding: 15px;
  overflow: visible;
  flex-flow: row wrap;

  color: #21243f;
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  font-family: futura;
}

.itemWrapper:hover {
  background-color: #21243f;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(210, 199, 218, 0.4);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #21243f;
  text-decoration: none;
}

.listWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap !important;
  align-items: center;
  text-align: center;
  margin: auto;
  color: #21243f;
  font-family: futura;
}

.list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.card-image-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

nav {
  flex-direction: row;
}

.home-text {
  text-align: center;
}

.hero-image {
  background-image: url("/src/Components/societybg-01.png");
  background-color: #cccccc;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.detailWrapper {
  margin: 40px;
  background-color: rgba(14, 14, 14, 0.8);
  padding: 15px;
  border-radius: 10%;
  overflow: visible;
  flex-flow: row wrap;
  text-align: center;
  position: flex;
  top: 50%;
  left: 20%;

  color: #21243f;
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  font-family: futura;
}
.detailBackground {
  background-image: url("/src/Components/navybg-02.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  justify-content: flex-end;
  display: flex;
  margin-left: 10px;
}

.add-button {
  justify-content: flex-end;
  display: flex;
  margin-left: 50px;
}

.buttons {
  justify-content: space-around;
  margin-left: 10px;
}

.detail {
  position: inherit !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.fade-in-text {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
