.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productWrapper {
  margin: 40px;
  background-color: rgba(14, 14, 14, 0.8);
  padding: 15px;
  border-radius: 5%;
  overflow: visible;
  color: rgb(0, 0, 1);
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
}

.productWrapper:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(210, 199, 218, 0.4);
}

.jam3ya-img {
  width: 100px;
  height: auto;
  border-radius: 7%;
}

.listWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  text-align: center;
  margin: auto;
  color: rgb(0, 0, 0);
}

.card-image-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}
